<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>

<div class="nav-bar">
<h1 id="home-h1">Binary Search Tree Application</h1>
    <form action="/" method="get">
        <button class="return-home-button" type="submit">HOME</button>
    </form>
</div>

<div id="home-buttons">

<form action="/enter-numbers" method="get">
    <button type="submit">Generate New Tree</button>
</form>


<form action="/previous-trees" method="get">
    <button type="submit">Get All Previous Trees</button>
</form>

</div>


</body>
</html>