<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Previous Trees</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>

<div class="nav-bar">
    <h1 id="home-h1">Previous Trees</h1>
    <form action="/" method="get">
        <button class="return-home-button" type="submit">HOME</button>
    </form>
</div>

<div id="trees-container">
    <div class="tree-card" th:each="tree : ${previousBST}">
        <h3>ID: <span th:text="${tree.id}">ID</span></h3>
        <p><strong>User Numbers: </strong> <span th:text="${tree.userNumberString}">User Numbers</span></p>
        <p><strong>Binary Search Tree: </strong></p>
        <pre th:text="${tree}"></pre>

    </div>
</div>

</body>
</html>
