<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Previous Trees</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>

<h1 id="previousTrees-h1">Previous Trees</h1>

<div id="trees-container">
    <div class="tree-card" th:each="tree : ${previousBST}">
        <h2>Tree ID: <span th:text="${tree.id}">ID</span></h2>
        <p><strong>Root:</strong> <span th:text="${tree.root}">Root</span></p>
        <p><strong>User Numbers:</strong> <span th:text="${tree.userNumberString}">User Numbers</span></p>
    </div>
</div>

</body>
</html>
